services:
  ca:
    build: .
    environment:
      - ROLE=ca
      - HOST=0.0.0.0
      - PORT=5005
    ports:
      - "5005:5005"
    volumes:
      - ca_db:/app/data

  utility:
    build: .
    environment:
      - ROLE=utility
      - CA_HOST=ca
      - CA_PORT=5005
      - UTILITY_PASS=12345
    depends_on:
      - ca

  base_meter:
    platform: linux/arm64
    build: .
    environment:
      - ROLE=base_meter
      - CA_HOST=ca
      - CA_PORT=5005
      - BASE_METER_PASS=12345
    depends_on:
      - ca
    cpus: "0.25"
    mem_limit: 512m

volumes:
  ca_db:
